/*Slider styles*/
.flt-body > *,
.flt-body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.flt-body {
  width: 100vw;
  min-height: 90vh;
  overflow-x: hidden;
  scroll-behavior: smooth !important;
}
.flt-body a {
  text-decoration: none;
  color: rgb(136, 136, 136);
}
.flt-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.flt-title {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(242, 242, 242, 1) 50%,
    rgba(235, 235, 235, 1) 100%
  );
  width: 100%;
  text-align: center;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(38, 111, 219);
  font-size: xx-large;
  text-shadow: 0px 0px 1px rgb(255, 255, 255);
  flex-direction: column;
  padding: 10px;
  margin-top: 10px;
}
.flt-slide-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.flt-slide-container:fullscreen {
  color: white;
}
.flt-subtitle {
  font-size: small;
  color: black;
}
.flt-top-menu {
  width: 80vw;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.flt-slide {
  min-height: 70vh;
  width: 70vw;
  border: 1px solid black;
  margin: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
}
.flt-slide h3 {
  justify-self: flex-start;
}
.flt-slide-container:fullscreen .flt-slide {
  height: 80vh;
  width: 90vw;
  background: white;
  color: black;
}
.flt-slides-nav {
  width: 98vw;
  display: flex;
  justify-content: space-evenly;
  font-size: xx-large;
}
ol.flt-table {
  display: flex;
  width: 90%;
  align-items: flex-start;
  flex-direction: column;
  display: none;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
  overflow-y: auto;
  margin-bottom: 50px;
}
.flt-table-elem {
  margin: 3px 30px;
  position: relative;
  left: 20px;
}
.flt-menu-active {
  color: rgb(38, 111, 219);
}
.flt-none {
  visibility: hidden;
}
.flt-flex {
  display: flex !important;
}
.flt-block {
  display: block !important;
}
.flt-top-menu-arrow {
  display: none !important;
}
.flt-button::before {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flt-button ::selection {
  color: none;
  background: none;
}
.flt-button:hover {
  cursor: pointer;
  color: rgb(38, 111, 219);
}
.flt-tip {
  position: relative;
  bottom: 80px;
  font-size: small;
  background: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  visibility: hidden;
  font-family: "Roboto", sans-serif;
}
.flt-button:hover .flt-tip {
  visibility: visible;
}
.flt-button {
  font-size: xx-large;
}
@media (max-width: 1000px) {
  .flt-top-menu-arrow {
    display: block !important;
  }
  .flt-top-menu {
    flex-direction: column;
  }
  .flt-side-elem {
    display: none;
  }
  .flt-slide {
    min-height: 60vh;
    width: 90vw;
  }
  .flt-title {
    font-size: medium;
  }
  .flt-body i,
  .flt-body h3,
  .flt-body h2 {
    font-size: small !important;
  }
  .flt-button {
    font-size: small;
  }
  .flt-button:hover .flt-tip {
    visibility: hidden;
  }
  .flt-subtitle {
    font-size: x-small;
  }
}

/*Content styles*/
.flt-def-window {
  display: none;
  position: relative;
  left: 0;
  top: 0;
  border: 1px solid lightgrey;
  padding: 30px;
  margin: 10px 0;
  color: grey;
  max-height: 50%;
  overflow-y: auto;
}
.flt-def {
  color: rgb(38, 111, 219);
}
.flt-def:hover {
  cursor: pointer;
}
.flt-image {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.flt-text {
  display: block;
  text-align: left;
  font-size: x-large;
  margin: 30px 50px;
}
.flt-abs-block {
  position: absolute;
  display: block;
  background-color: white;
}
.flt-slide h3 {
  font-size: x-large;
}
.flt-slide h2 {
  font-size: xx-large;
}
.flt-animation1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 20%;
  margin-top: 80px;
}
.flt-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 20%;
  margin-top: 80px;
  max-width: 50%;
}
.flt-animation-2 {
  min-height: 40%;
  margin-top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flt-slide-container:fullscreen .flt-animation-2 {
  margin-top: 10%;
}
span.flt-button {
  font-size: medium !important;
}
ol .flt-button {
  font-size: medium !important;
}
.flt-play {
  margin-top: 20px;
}
.flt-anim-up {
  position: relative;
  bottom: 50px;
  transition: bottom 1s ease-in-out;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.flt-desc {
  position: relative;
  bottom: 50px;
  display: none;
  font-size: large;
  transition: display 1s ease-in-out;
}
.flt-title-slide {
  text-align: center;
  background-image: url("images/flt-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-shadow: 0 0 3px black;
  font-size: x-large;
}
.flt-section {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flt-section h2 {
  font-size: 50px !important;
}
.flt-title-slide h2 {
  font-size: xx-large;
}
.flt-2images {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70%;
  width: 100%;
}
.flt-img-2 {
  position: absolute;
  bottom: 0;
  left: 25%;
  opacity: 0;
  transition: opacity 3s ease-in-out;
}
.flt-img-2-visible {
  opacity: 1;
}
#flt-play-3 {
  width: 100%;
}
#flt-play-3 .flt-tip {
  left: 50%;
}
.flt-t-sec {
  left: 0;
}
@media (max-width: 1000px) {
  .flt-text {
    font-size: medium;
    text-align: left;
    margin: 30px 10px;
  }
  .flt-img-2 {
    max-width: 80%;
  }
  .flt-section h2 {
    font-size: x-large;
  }
  .flt-slide h2 {
    font-size: medium !important;
  }
  .flt-table-elem {
    font-size: small !important;
  }
  .flt-title-slide {
    font-size: medium;
  }
}
